*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: repeat(4, 3rem);
}

.card {
  width: 3rem;
  height: 3rem; 
  border: 1px solid black;
  display: grid;
  align-items: center;
  justify-items: center;
}
