@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700;900&family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #009EF7;
  --gray: #58606a;
	--light-gray: #949da7;
	--lighter-gray: #b4bdc8;
	--border-gray: #e7e9ea;
	--back-gray: #f6f8fa;
  --react-gray: #282c34;
  --react-blue: #61dafb;
  --react-white: white;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.board {
  height: 100%;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 5rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "VT323", monospace; */
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  text-shadow: 0 2px 1px #00000022,
    0 1px 1px #00000022,
    0 1px 3px #00000022;
}

.sub-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.description {
  font-size: .9rem;
  color: var(--light-gray);
}

.strong {
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

.statistics {
  display: grid;
  grid-template-columns: 14rem 4rem;
  align-content: center;
}

.bestscore,
.score {
  margin: 1rem 0;
  /* font-family: "Roboto Mono", sans-serif; */
  font-family: "VT323", monospace;
  font-size: 3rem;
  font-weight: 400;
  color: var(--primary);
  text-shadow: 0 2px 1px #00000022,
    0 1px 1px #00000022,
    0 1px 3px #00000022;
}

.cards-container {
  height: 100vh;
  background-color: var(--primary);
  display: grid;
  align-content: center;
}

.cards {
  --card-size: 8rem;
  margin: 0;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  align-content: start;
  justify-content: center;
}

.cards.disabled {
  pointer-events: none;
  opacity: .4;
}

.card {
  position: relative;
  aspect-ratio: 1;
  /* border: 1px solid white; */
  background-position: center;
  background-size: 100%;
  /* box-shadow: 0px 3px 1px -2px #00000033,
    0px 2px 2px #00000022,
    0px 1px 5px #00000022; */
}

.card:hover {
  /* opacity: .8; */
  background-size: 125%;
  transition: .25s ease-out;
}

.ripple {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.ripple.coin {
  animation: coin-animation 1.5s linear;
}

.ripple.sad {
  animation: sad-animation 1.5s linear;
}

.ripple > img {
  width: 100%;
  height: 100%;
}

@keyframes coin-animation {
  0% {
    transform: translate(0px, 0px);
    width: 0;
    height: 0;
  }
  20% {
    transform: translate(-32px, -48px);
    width: 4rem;
    height: 4rem;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-32px, -72px);
    opacity: 0;
  }
}

@keyframes sad-animation {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  20% {
    width: 5rem;
    height: 5rem;
  }
  70% {
    width: 5rem;
    height: 5rem;
    opacity: 1;
  }
  100% {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }
}

.footer.footer-custom {
  color: var(--light-gray);
  font-size: .7rem;
}
