@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700;900&family=Roboto:wght@100;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #009EF7;
  --gray: #58606a;
	--light-gray: #949da7;
	--lighter-gray: #b4bdc8;
	--border-gray: #e7e9ea;
	--back-gray: #f6f8fa;
  --react-gray: #282c34;
  --react-blue: #61dafb;
  --react-white: white;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.board {
  height: 100%;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 5rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}

.sub-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.description {
  font-size: .9rem;
  color: var(--light-gray);
}

.statistics {
  display: grid;
  grid-template-columns: 14rem 4rem;
  /* align-items: center; */
  /* justify-items: start; */
  align-content: center;
}

.bestscore,
.score {
  margin: 1rem 0;
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary);
}

.cards-container {
  height: 100vh;
  background-color: var(--primary);
  display: grid;
  align-content: center;
}

.cards {
  --card-size: 8rem;
  margin: 0;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  align-content: start;
  justify-content: center;
}

.cards.disabled {
  pointer-events: none;
  opacity: .4;
}

.card {
  aspect-ratio: 1;
  /* border: 1px solid white; */
  background-position: center;
  background-size: 100%;
  box-shadow: 0px 3px 1px -2px #00000033,
    0px 2px 2px #00000022,
    0px 1px 5px #00000022;
}

.card:hover {
  opacity: .8;
  background-size: 125%;
  transform: scale(1);
  transition: .25s ease-out;
}

.footer.footer-custom {
  color: var(--light-gray);
  font-size: .7rem;
}
